header{
    background-color: green;
    text-align: left;
    display: flex;
    box-shadow: 10px;

}
nav{
    width :30%;
  
    
}
h1{
    width: 70%;
}
nav>ul{
    list-style: none;
    display: flex;
    align-items:flex-end;
    justify-content: end;
    text-align: right;
    margin: 30px;
}