@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
.box{
    font-family: 'Montserrat';
    vertical-align: auto;
    text-align: center;
    margin:auto;
    margin-top: 50px;
    width: 350px;
    height: 275px;
    border-style: solid;
    background-color: rgb(223, 223, 223);
    border-color: rgb(177, 177, 177);
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    
}
button{
    width: 30%;
    height:50px;
    background-color: rgb(84, 146, 196);
    color: white;
    padding: 0;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.box>h1{

    margin:auto;
}
.field{
    width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}